@page "/SupportClientsHome"
@inject HttpClient httpClient

@inherits ClientHomeBase


<h1 class="font-weight-bold mb-3">Clients</h1>

@if (clients == null)
{
    <p><em>Loading...</em></p>
}
else
{
<EditForm Model="clients">
    <label class="MTS-CSS-label-variant-04">
        New Client
        <button class="MTS-CSS-iconButton" @onclick="@NewClientClick"><span style="color: rgb(0, 167, 157)"> <i class="fas fa-plus-circle" style="font-size: 14px;" /> </span></button>
    </label>
    <div class="MTS-CSS-scrollableTable">
        <table class="table MTS-CSS-table">
            <thead class="MTS-CSS-tableHead">

                <tr class="table-row">

                    <th class="text-white MTS-CSS-tableVerticalBorder p-2">ID</th>
                    <th class="text-white p-2">Name</th>
                    <th class="text-white p-2" >Domain</th>
                    <th class="text-white p-2">Status</th>
                    <th></th>



                </tr>
            </thead>
            <tbody>
                @foreach (var client in clients)
                {
                    <tr class="MTS-CSS-tableRow">
                        <td>@client.Id</td>
                        <td>@client.Name</td>
                        <td>@client.DomainName</td>
                        <td>
                            <label class="MTS-CSS-toggleSwitchContainer">

                                <InputCheckbox class="MTS-CSS-checkBox" @bind-Value="client.IsEnabled" disabled />

                                <span class="MTS-CSS-slider"></span>

                            </label>
                        </td>
                        @if (client.IsEnabled == true)
                        {
                    <td>

                        <button class="MTS-CSS-iconButton" style="float:right; margin:5px" @onclick="()=>UpdateClientClick(client.Id)"> <span style="color: rgb(60, 90, 108)"> <i class="far fa-edit" style="font-size: 14px;" /> </span></button>&nbsp; &nbsp;
                        <button class="btn btn-sm w-30 text-white MTS-CSS-button-variant-03" style="margin: 5px" @onclick="()=>ShowConfirmationModalForDisable(client.Id)">Disable</button>
                    </td>
                        }
                        else
                        {
                    <td>
                        <button class="MTS-CSS-iconButton" style="float:right; margin:5px" @onclick="()=>UpdateClientClick(client.Id)"> <span style="color: rgb(60, 90, 108)"> <i class="far fa-edit" style="font-size: 14px;" /> </span></button> &nbsp; &nbsp;
                        <button class="btn btn-sm w-30 text-white MTS-CSS-button-variant-03" style="margin:5px" @onclick="()=>ShowConfirmationModalForEnable(client.Id)">Enable</button>

                    </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

}


