@page "/CreateUpdateClient/{Id:int}"
@inherits CreateUpdateClientBase
@using BlazorInputFile



@if (Id > 0)
{
    <h3><strong>Edit Client</strong></h3>
}
else
{<h3><strong>New Client</strong></h3>}
<br />
@if (ClientRequest != null)
{
<EditForm Model="ClientRequest" OnValidSubmit="FormSave" Context="EditForm">
    <DataAnnotationsValidator />
    <div class="d-flex flex-row align-items-center">
        <label class="MTS-CSS-label-variant-04">Name :</label>
        <InputText class="form-control MTS-CSS-inputText" style="width:190px; float:left;margin:5px;" placeholder="Name" @bind-Value="ClientRequest.Name" />
    </div>
    <ValidationMessage For="@(() => ClientRequest.Name)" />

    <br />
    <div class="d-flex flex-row align-items-center">
        <label class="MTS-CSS-label-variant-04">Domain Name :</label>
        <InputText class="form-control MTS-CSS-inputText" style="width:190px; float:left;margin:5px;" placeholder="Domain Name" @bind-Value="ClientRequest.DomainName" />
        <ValidationMessage For="@(() => ClientRequest.DomainName)" />
    </div>
    <br />
    <label class="MTS-CSS-label-variant-04">Status</label>&nbsp;
    <label class="MTS-CSS-toggleSwitchContainer">

        <InputCheckbox class="MTS-CSS-checkBox" @bind-Value="IsEnabled" />

        <span class="MTS-CSS-slider"></span>

    </label>
    <br />

    <div class="d-flex flex-row mt-2 mb-3 align-items-center justify-content-between">
        <label class="MTS-CSS-label-variant-04">Logo</label>
        <div class="d-flex flex-row align-items-center">
            <InputFile accept=".jpeg" style="color: transparent; width:105px; float:left;" OnChange="HandleSelection" />
            @if (!string.IsNullOrEmpty(imageDataUri))
            {
                <img class="MTS-CSS-logo" src="@imageDataUri" />

                @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
                @*<style>
                img {
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    padding: 5px;
                    width: 50px;
                }

                    img:hover {
                        box-shadow: 0 0 10px rgb(0, 167, 157);
                    }
            </style>*@




            }
        </div>

        
    </div>


        <br />  <br />
        <button class="MTS-CSS-button-variant-01 text-white" type="submit">Save</button>

        <button class="MTS-CSS-button-variant-04 text-white" type="button" @onclick="@NewClientCancel">Cancel</button>
        <br /> <br />





</EditForm>

}

