@page "/SystemsHome"
@inject HttpClient httpClient

<h3>TestSystems</h3>

@if (allSystems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var sys in allSystems)
            {
            <tr>
                <td>@sys.Id</td>
                <td>@sys.Name</td>
                <td>@sys.Description</td>
                <td>@sys.StatusId</td>





            </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<SystemDetails> allSystems;

    protected override async Task OnInitializedAsync()
    {
        allSystems = await httpClient.GetFromJsonAsync<List<SystemDetails>>("api/systems/Get-All-Systems-For-Client/1");

        //return base.OnInitializedAsync();
    }
}
