@inherits ModalConfirmationBase
@inject HttpClient httpClient

<div class="blazor-modal">
    <h5 class="text-center font-weight-bold mb-3">@confirmationMessage</h5>
    
    
    <button class="text-white btn-sm btn-block MTS-CSS-button-variant-01" @onclick="@ModalSave" type="submit">Yes</button>

    <button class="text-white btn-sm btn-block MTS-CSS-button-variant-04" type="button" @onclick="@ModalCancel">No</button>

    </div>

@*<style>
    .blazor-modal {
        display: flow;
        flex-direction: column-reverse;
        width: 15rem;
        background-color: #fff;
       /* border-radius: 4px;
        border: 1px solid #fff;
        padding: 1.5rem;
        z-index: 4;*/
    }

</style>*@