<h3><strong>Are you sure you want to save?</strong></h3>

<button class="MTS-CSS-button-variant-01 text-white">Yes</button>
<button class="MTS-CSS-button-variant-01 text-white">No</button>


@code {

}
