@inherits ModalSuccessBase
@inject HttpClient httpClient

<div class="blazor-modal">
    <h4>Saved Successfully</h4>
    
  

    <button style="text-align:center" class="MTS-CSS-button-variant-01 text-white" @onclick="@ModalSuccessShow" type="submit">Close</button>

    <style>
        .blazor-modal {
            display: flow;
            flex-direction: column-reverse;
            width: 8rem;
            background-color: #fff;
            text-align:center;
        /*    border-radius: 4px;
            border: 1px solid #fff;
            padding: 1.5rem;
            z-index: 4;*/
        }
    </style>
    </div>