<h3><strong>Are you sure you want to save?</strong></h3>

<button style="text-align:center" class="MTS-CSS-button-variant-01 text-white">Yes</button> <br />
<button style="text-align:center"class="MTS-CSS-button-variant-01 text-white">No</button>

