@inherits ModalSuccessBase
@inject HttpClient httpClient

<div class="text-center">
    <span style="color: rgb(0, 167, 157)" class="text-center"><i class="far fa-check-circle text-center" style="font-size:50px;"></i></span>
    
    <h5> @SuccessMessage</h5>
    @*<h5 class="text-center font-weight-bold mb-3">Saved Successfully</h5>*@

    
    @*<h6 class="text-center mt-3 mb-3 font-weight-bold">@SuccessMessage</h6>*@
    <button class="text-white btn-sm btn-block MTS-CSS-button-variant-02" @onclick="@ModalSuccessShow" type="submit">Close</button>

    @*<style>
            .blazor-modal {
                display: flow;
                flex-direction: column-reverse;
                width: 8rem;
                background-color: #fff;
                text-align:center;
            /*    border-radius: 4px;
                border: 1px solid #fff;
                padding: 1.5rem;
                z-index: 4;*/
            }
        </style>*@
</div>